<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 상세보기</title>
    <link rel="stylesheet" href="book-styles.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="title">책 상세보기</h1>
    <div id="book-detail" class="book-detail">
    </div>

</div>
<script>
    $.ajax({
        url: `/books/${bookId}`,
        method: "GET",
        success: function (book) {
            $("#book-detail").html(`
                        <p><strong></strong> }</p>
                        <aclass="btn" id="edit-btn">수정하기</a>
                    `);
        }
    });

</script>
</body>
</html>