<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>랜덤 로고 생성하기</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div id="product-container"></div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/products',
            method: 'GET',
            success:
                function (products) {
                    $.each(products, function(key, value) {
                        $("#product-container").append(
                            `<div class="card">
                                <img src="${value.image}" alt="${value.title}">
                                <h3>${value.title}</h3>
                                <p>${value.price}</p>
                             </div>`)
                    })
                },
            error: function () {
                alert("상품을 서버에서 가져올 수 없습니다.");
            }
        });
    });
</script>
</body>
</html>