<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 상세보기</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>사용자 상세 정보</h1>
<div id="user-detail-container">
    <p id="email"></p>
    <p id="username"></p>
    <p id="password"></p>
    <p id="firstname"></p>
    <p id="lastname"></p>
    <p id="phone"></p>
    <p id="city"></p>
    <p id="street"></p>
    <p id="streetNumber"></p>
    <p id="zipcode"></p>
    <p id="geolocationLat"></p>
    <p id="geolocationLong"></p>
</div>
<script src="/user_detail.js"></script>

</body>
</html>